/* by niGraphic.com */
/* layout */
html, body{ 
background: url(images/bg_header.gif) repeat-x top center;
 margin:0; 
 padding:0; 
 text-align:center; 
 height: 100%;
} 
#mainbody{
background: url(images/bg_footer.gif) repeat-x bottom center;
height: 100%;
}
 body *{
 	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
 }
 h1, h2, h3, h4, h5, h6, h7{
	font-family:  Aharoni, Verdana, Geneva, Arial, Helvetica, sans-serif;
 }
 h1{
 	font-size: 170%;
 }
 h2{
 	font-size: 160%;
 }
 h3{
 	font-size: 150%;
 }
 a{
 	color: #4B89AE;
 	text-decoration: none;
 }
 a:hover{
 	color: #FF8800;
 }
#pagewidthHead{ 
 width:965px; 
 text-align:left;  
margin-left:auto; 
 margin-right:auto;  
}
#headerHead{
 text-align:left;
 height: 85px;
 padding-top: 35px;
 width:100%;
} 
#headerHead .logo{
	float: left;
	clear: right;
	margin: 0px 20px 0 20px;
}
#headerHead .site-slogan,
#headerHead .site-name{
	margin-left: 25px;
}
#headerHead .site-name h1 a{
	color: #4B89AE;
	font-size: 25pt;
	font-family: Aharoni, Tahoma, Arial, Helvetica, sans-serif;
}
#headerHead .site-slogan{
	margin-top: 0px;
}
#headerHead .site-slogan h2{
	color: #9A9A9A;
	font-size: 14pt;
}

#HeaderSearch .form-submit{
background-color: #6FA1BE;
color: #FFF;
 border: none;
}
#HeaderSearch .form-text {
 float: left;
 background-color: #E4E4E4;
 border: none;
  width: 8em;
  padding:1px 2px 1px 2px;
  margin-right: 3px;
}
/* TEMP */
.container-inline div, 
.container-inline label {
display:inline;
}

.headBoxTop{
	width: 961px;
	height: 45px;
	margin-bottom: 12px;
	padding-top: 8px;
	text-align:left;
	background-image: url(images/bg_primary_links.jpg);
}
/* primary links */
#primary-links {
list-style-type:none;
margin:0 10px;
padding:0;

}
#primary-links li {
float: left;
position: relative;
border-right: 1px solid #DAD9D9;
}
#primary-links li.last {
border-right: 0px;
}
#primary-links li a {
font-weight:600;
font-size: 10pt;
display: block;
border-bottom-width:0;
text-decoration:none;
color:#4B89AE;
margin:0;
padding:10px 20px;
}

#primary-links li a:hover {
color:#000;
}


#primaryHead{
 width:148px;
 height: 209px;
 float:right;  
  margin-right: 20px; 
  padding: 10px 10px 0px 0px;
  display:inline; 
 }
 
#maincolHead{
 width:911px;
 height: 251px;
 background: url(images/header_banner_main.jpg) #FFF no-repeat 0 0;
 float: left; 
 display:inline; 
	padding: 60px 50px 0 0;
 }
 .header-left-block{
	width: 300px;
	float: right;
 }
.header-left-block h2{
  	color:#4B89AE;
	font-size: 15pt;
  }
.header-left-block .block-content{
	text-align: justify;
	font-size: 10pt;
	color: #626262;
}
.region-sidebar .block{
	border: 1px solid #dad9d9;
	border-radius: 5px;
	margin-bottom: 25px;
	padding: 7px;
}
.clearfixHead:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfixHead{
display: inline-block;
background-color: #FFF;
}

.headBoxBottom,
#header-blocks{
	float: left;
	clear: both;
	width: 100%;
	height: 12px;
}
#header-blocks{
height: 182px;
}
#header-blocks .block{
	width: 226px;
	height: 172px;
	padding: 5px;
	float: left;
	clear: right;
	margin-right: 5px;
	background: url(images/bg_main_blocks.gif);
}
#header-blocks .block .block-title{	
	padding-top: 10px;
	padding-left: 10px;
	margin: 0px;
	width: 216px;
	height: 37px;
}

.class1 h2{
	color: #66CC00;
}
.class2 h2{
	color: #FF9900;
}
.class3 h2{
	color: #4b89ae;
}
#block-user-0 h2{ /* user login block */
	color: #92B153;
}
.main-block .class1{
	background: url(images/icons/01.gif) no-repeat 4px 4px;
}
.main-block .class2{
	background: url(images/icons/02.gif) no-repeat 4px 4px;
}
.main-block .class3{
	background: url(images/icons/03.gif) no-repeat 4px 4px;
}
#block-user-0 .block-title{ /* user login block */
	background: url(images/icons/04.gif) 4px 4px no-repeat;
}
#header-blocks h2{
	font-size: 15pt;
}

/* home page login block styles */

#user-login-form{
	margin: 0px;
	padding: 0px;
	text-align:center;

}

#user-login-form .form-item{
	margin-top: 0px;
	margin-bottom:0.3em;
}
#user-login-form .item-list{
	clear: both
}
#user-login-form label{
	width: 100%;
	display: inline-block;
	color: #4B89AE;
	margin: 0px;
}
#rightcol #user-login-form .item-list{
	text-align: center;
}
#rightcol #user-login-form ul{	
padding: 0px;
margin-top: 3px;
	margin-left: 20px;
	text-align: center;
}
#user-login-form ul li{
	display: inline;
}
#user-login-form .form-text{
	padding: 0px;
}
#user-login-form .form-submit{
	font-weight: 400;
	padding: 0px;
	font-size: 9pt;
}
.form-item, .form-actions {
    clear: both;
}

/* Hides from IE-mac \*/
* html .clearfixHead{height: 1%;}
.clearfixHead{display: block;}
/* End hide from IE-mac */  

/* BODY layout */
#pagewidth{ 
margin-top: 10px;
 width:965px; 
 text-align:left;
margin-left:auto; 
 margin-right:auto;  
} 

#leftCol{
   border-right: 1px solid #DAD9D9;
 width:703px;
 float:right;  
  padding: 5px 5px 5px 10px;
  display:inline; 
margin: 0 5px;
 }
 .leftColContent{
 	padding: 4px;
 }
#rightcol{
 width:235px;
 float: left; 
 display:inline; 
	margin-left: 0px;
 }

.rightcolContent{
 	padding: 4px;
 }
#rightcol ul{
	margin-right:15px;
}
#rightcol h2{
	font-size: 14pt;
	color: #4b89ae
}
.more-link, .links{
	text-align: left;
	padding-right: 15px;
}

.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{
display: inline-block;
}

.pagetitle{
	color: #4B89AE;
	font-size: 20pt;
}

/* lists */
.block ol,
.block ul,
.leftColContent ol,
.leftColContent ul {
padding:0 0 0.25em 1.5em;
}

.block ol li,
.block ul li,
.leftColContent ul li{
	list-style-image: url(images/menu-collapsed.gif);
}

/* MENU */
ul.menu{
	text-align:left;
}
ul.menu li{
	padding: 5px 0px;
}
ul.menu li.leaf{
	list-style-image: url(images/menu-leaf.gif);
}
ul.menu li.expanded{
	list-style-image: url(images/menu-expanded.gif);
}



/* form elements */
form {
	margin:10px; 
	padding: 0 10px;
}
fieldset{
	padding: 8px;
}
label {
	display:block;
	font-weight:600;
	margin:5px 0;
	color: #003366;
}
input {
	padding: 2px;
	border:1px solid #DDD;
	font: normal 1em Tahoma;
	color:#555;
}
textarea {
	width:400px;
	padding:2px;
	font: normal 1em Tahoma;
	border:1px solid #DDD;
	height:100px;
	display:block;
	color:#555;
}

option, select{
	font: normal 1em Tahoma;
}
input.button { 
	margin: 0; 
	font: 600 12px Tahoma; 
	border: 1px solid #CCC; 
	padding: 1px; 
	background: #FFF;
	color: #CC0000;
}
.form-submit { 
	margin: 0; 
	font: 600 12px Tahoma; 
	border: 1px solid #CCC; 
	padding: 1px; 
	background: #FFF;
	color: #CC0000;
}
.form-radio, .form-checkbox{
	border: none;
}
.form-item label{
	font-weight: 400;
}
.form-item label.option{
	font-weight: 400;
	color: #C00;
}
legend{
	color: #C00;
	padding: 0 3px 0 3px;
}


/* PAGER */

ul.pager{
	margin-top: 20px;
}
.item-list ul li {
margin:0 0 0.25em 0px;
}
.item-list .pager li {

padding:3px;
}
.pager .pager-current {
	padding: 7px;
	border: 1px solid #DADCE0;
	background-color: #F7F8FA;
	color: #000;
	font-size: 8pt;
	margin: 2px;
	font-weight: normal;
	margin-top: -5px;
}

.pager a {
	padding: 2px 5px 2px 5px;
	margin:0px 0.2em 0px 0.2em;
	background:#CCC;
	border:1px solid #777;
	font-size: 8pt;
	font-weight: normal;
}
.pager a:hover {
	text-decoration:none;
	background-color: #FF8800;
	color: #FFF;
}
.pager-ellipsis{
	padding: 2px 5px 2px 5px;
	margin:0px 0.2em 0px 0.2em;

	font-size: 8pt;
	font-weight: normal;
}


 
/* TABLES */


table {
		border-collapse:collapse;
		border-left:1px solid #686868;
		border-right:1px solid #686868;
		font:0.9em/145% Tahoma,verdana;
		color: #333;	
		margin: 0px;
	width: 98%;
}

td, th {
		padding:4px;
}

caption {
		padding: 0 0 .5em 0;
		font-size: 1.2em;
		font-weight: 600;
		color: #333;
		background: transparent;
}

table a {
		color:#FF6600;
		text-decoration:none;
}
table a:hover {
		border-bottom: 1px dashed #bbb;
}
table a.tabledrag-handle:hover {
		border-bottom: 0px;
}
/* =head =foot */

thead th, tfoot th, tfoot td {
		background-color:#6FA1BE;
		color:#fff;
		font-weight: 400;
		text-align:left;
}
thead th a {
		color:#EEE;
		background-color: transparent;
		border-bottom: dotted 1px #FFF;
}
thead th a:hover {
		color:#FFF;
		background-color: transparent;
}

/* =body
----------------------------------------------- */

tbody th, tbody td {
		border-bottom: dotted 1px #333;
}

tbody th {
		white-space: nowrap;
}

tbody th a {
		color:#333;
}

tr.odd {background-color: #EEEEEE}
tr.even {background-color: #F5F5F5}
tr{background-color: #F5F5F5}
tbody tr:hover {
		background:#FFF
}

.footer{
	text-align: center;
	float: right;
	clear: both;
	margin-top: 20px;
	padding-top: 20px;
	width: 100%;
	height: 45px;
background: url(images/bg_footer.gif) repeat-x bottom center;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  

.poll .bar .foreground {
    background-color: transparent;
	 background-image: url(images/bg_poll.gif);
}

